/* Css Reset */
*{
    margin: 0;
    padding: 0;

}
/* Css Variables */
:root{
    --navbar-height:100px;
}
/* Navigation Bar */
#navbar{
    display: flex;
   /* justify-content: left; */
   align-items: center;
   position: relative;
   top: 0px;

}
#navbar::before{
    content: "";
    background-color: black;
    position:absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

/* Navigation Bar: Logo and Images */

#logo{
    
    margin: 4px 18px;
}
#logo img{
    height: 85px;
    margin: 0px 9px;
   
}
/* Navigation Bar: List Styling */
#navbar ul{
    display: flex;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
#navbar ul li{
    list-style-type: none;
    font-size: 16px;
    

}
#navbar ul li a{
    color: white;
    display:block;
    padding: 10px 26px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: rgba(230, 82, 55, 0.926);
    background-color: white;
    border-radius: 12px;
}
/* Home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 630px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    position:absolute ;
    background: url('../bh1.jpg') no-repeat center center/cover;
    height: 750px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    color: white;
    text-align: center;
    font-family: 'Tapestry', 'cursive';
}
 p{
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
}
/* Client Section */
.client-section{
    height: 270px;
    padding: 13px;
    position: relative;
}
.client-section::before{
    content: "";
    position: absolute;
    background: url('../bg.jpg') no-repeat center center/cover;
    width: 99%;
    height: 100%;
    z-index: -1;
    opacity: .6;
    
}

.clients{
    display: flex;
    justify-content: center;
    align-items: center; 

}
.clients img{
    height: 400px;
}

.client-item img{
    height: 124px;
    padding: 0px 35px;
    
}


/* Services section */
#services{
    display: flex;
}
#services .box{
    border: 2px solid brown;
    height: 415px;
    margin: 3px 6px;
    padding: 18px;
    border-radius: 23px;
    background-color: #e4d28a;
}
#services .box img{
    height: 160px;
    text-align: center;
    width: 400px;
    display: block;
    margin: auto;
   
}
/* Contact Section */
#contact{
    position: relative;
    
    /* margin: 80px auto; */
    
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .7;
    background: url("../contact.jpg") no-repeat center center/cover;
}
#contact-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding-bottom: 34px;
}

#contact-box textarea{
    width: 100%; 
    padding: 0.5rem; 
    border-radius: 9px;
    font-size: 1.1rem
    
}
#contact-box form{
    width: 40%;
    
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Oleo Script Swash Caps', cursive;
    
}

#contact-box input {
    width: 100%;
    height: 30px;
    border-radius: 9px;
    font-size: 1.1rem
    
  }



footer{
    background-color: rgb(226, 223, 36);
    color: rgb(211, 207, 207);
    padding: 9px 24px;
     margin: 0px 0px; 
}
/* Utility Classes */
.h-primary{
    font-size: 45px;
    padding: 15px;
    text-align: center;
    margin: 15px;
    font-family: /*'Tapestry'*/ cursive;
    
}
.h-secondary{
    font-size: 40px;
    font-family: 'Oleo Script Swash Caps', cursive;
    margin: 15px;
    


}
.btn{
    padding: 6px 20px;
    border: 2px solid black;
    background-color: rgb(115, 232, 226);
    color: rgb(166, 14, 226);
    margin: 12px 6px;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
}
.center{
    text-align: center;
    color: black;
    font-family: 'Tapestry', cursive;
}


